[Desktop Entry]
Type=Application
Name=Bootman
Exec=io.FuriOS.Bootman
Icon=io.FuriOS.Bootman
Terminal=false
Type=Application
StartupNotify=true
Keywords=bootman;furios
