[Desktop Entry]
Type=Application
Name=Bootman
Exec=io.furios.Bootman
Icon=io.furios.Bootman
Terminal=false
Type=Application
StartupNotify=true
Keywords=bootman;furios
